.newsContainer {
    margin-top: 4.375rem;
  
    .titleContainer {
      width: 100%;
      text-align: center;
      margin-bottom: 1.125rem;
      h1 {
        font-family: "Exo 2";
        font-style: normal;
        font-weight: 700;
        font-size: 3.125rem;
        line-height: 3.75rem;
        color: #ffffff;
      }
    }
  }