.smilarNewsContainer {
  width: 67.3rem;
  margin: auto;
  margin-top: 7.8125rem;
    margin-bottom: 5rem;
  h1 {
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
  }
  .smilarCards{
    display: flex;
    margin-top: 1.25rem;
    
  }
}
